html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: pink;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

input[type="button"] {
    border: none;
    /* background: cornflowerblue; */
    background: linear-gradient(89.8deg, rgb(39, 115, 255) 4.3%, rgb(62, 211, 232) 101.4%);
    color: white;
    padding: 12px 86px;
    margin: 8px;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    width: 50%;
}

#myInput:focus::-webkit-input-placeholder {
  visibility:hidden; /*hide placeholder on focus*/
}

#myInput {
  padding: 5px;
}

#myInput:focus {
  border: 1px solid dodgerblue;
  border-radius:3px;
}

#myInput-label {
  display: none;
  font-size:11px;
  color:dodgerblue;
  font-family:sans-serif;
  background-color: #fff;
  padding: 0 5px;
  padding-left: 20px;
}


#myInput-label1 {
  display: none;
  font-size: 11px;
  color: dodgerblue;
  font-family: sans-serif;
  background-color: #fff;
  padding: 0 5px;
  padding-left: 20px;
}

/*style of label when input is focused*/
#myInput:focus + #myInput-label  {
  display: inline-block;
  position:absolute;
  left: 12px;
  top:-5px;
}

#myInpu1t:focus + #myInput-label1 {
  display: block;
}

#myInput1:focus::-webkit-input-placeholder {
  visibility: hidden; /* Hide placeholder on focus */
}

#myInput1 {
  padding: 5px;
}

#myInput1:focus {
  border: 1px solid dodgerblue;
  border-radius: 3px;
}

/*style of label when input is focused*/
#myInput1:focus + #myInput-label1  {
  display: inline-block;
  position:absolute;
  right: 295px;
  top:-5px;
}

.password-icon {
  position: absolute;
  top: 50%;
  right: 40px; /* Adjust the distance from the right side */
  transform: translateY(-50%);
  cursor: pointer;
  color: blue;
}

.password-icon1 {
  position: absolute;
  top: 50%;
  /* right: 10px; */
  transform: translateY(-50%);
  cursor: pointer;
  color: blue;
  left:400px;
}